{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles/main.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/styles/partials/page-landing.css' %}" rel="stylesheet">
        <title>Auctions</title>
    </head>
    <body id="home">
        <div id="container">
            <header class="page-header">
                <div class="title">
                    <h1 class="display-3">Auctions</h1>
                </div>
                <div class="nav-items">
                    <a href="">Active listings</a>
                    <a href="">Categories</a>
                    <a href="">Watchlist</a>
                    <a href="">Create listing</a>
                    <a href="">Profile</a>
                </div>
            </header>
            <main>
                <div class="listings">
                    <h1 class="display-4">Active Listings</h1>
                    <div class="item">
                        <div class="img-container">
                            <img src="{% static 'auctions/images/test.jpeg' %}" alt="">
                        </div>
                        <div class="content-container">
                            <h1>Title</h1>
                            <p><strong>Price: </strong><span>$70</span></p>
                            <p>model</p>
                            <p>when</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
