{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles/main.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/styles/partials/page-landing.css' %}" rel="stylesheet">
        <title>Auctions</title>
    </head>
    <body id="home">
        <div id="container">
            <header class="page-header">
                <div class="top-content">
                    <div class="title">
                        <h1 class="display-3">Auctions.com</h1>
                    </div>
                    <div class="nav-items">
                        <a href="" class="btn btn-outline-info">Active listings</a>
                        <a href="" class="btn btn-outline-info">Categories</a>
                        <a href="" class="btn btn-outline-info">Watchlist</a>
                        <a href="" class="btn btn-outline-info">Create listing</a>
                        <a href="" class="btn btn-outline-info">Profile</a>
                    </div>
                </div>
                <div class="description">
                    <strong>Welcome Pedro</strong>
                    <p>Check out all the available listings below</p>
                </div>
            </header>
            <main>
                <div class="row">
                    {% for item in items %}
                    <div class="col-lg-6 col-sm-8">
                        <article class="item" >
                            <header>
                                    <img src={{item.img_url}} alt="">
                                <div>
                                    <strong>{{item.title}}</strong>
                                    <p class="article-content">{{item.description}}</p>
                                </div>
                            </header>
                            
                            <footer>
                                <p>Price<strong>{{item.price}}</strong></p>
                                <a href="{% url 'item' item.id %}" class="button">Details</a>
                            </footer>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </body>
</html>
